body
{
 margin: 0;
 background-color:rgb(216, 231, 250);
 font-family:Montserrat;
 color:#fffff0;
 font-weight: 400;
}
.logo
{
    height:4.5rem;
    width: 11.5rem;
    float: left;
    padding: 5px 0;
}
.navi
{
    width: 80%;
    margin: 0 auto;
}
header
{
    background-color: rgb(18, 36, 53);
}
header::after{
    content: '';
    display: table;
    clear:both;
}
nav{
    float: right;
}
nav ul
{
 margin:0;
 padding:0;
 list-style:none;
 padding-bottom: 1.5rem;
}
nav li
{
    display:inline-block;
    margin-left: 70px;
    padding-top: 17px;
    position: relative;
    
}
nav ul li a
{
    color:rgb(216, 231, 250);
    text-decoration: none;
    text-transform: uppercase;
}
nav  a:hover
{
    text-decoration: none;
    color:white;
    font-weight: 400;
}
nav a::before
{
    display: block;
    content: '';
    height: 5px;
    width: 0%;
    background-color: rgb(216, 231, 250);
    margin-bottom: 2px;
    position: absolute;
    top:0;
    transition:all ease-in-out 250ms;
}
nav a:hover::before
{
    width: 100%;
}
.content {
    margin-top: 2rem;
}
.search{
    width:180px;
    border-radius: 1rem;
    padding: 2px;
    border: none;
    padding: 3px;
}
.fa-shopping-bag {
    color: #fffff0;
    padding-left: 20px;
    cursor: pointer;
}
.fa-shopping-cart {
    color: #fffff0;
    padding-left: 10px;
    cursor: pointer;
}
.carousel-inner {
    display: flex;
    justify-content: center;
}
.carousel{
    width:550px;
    height:360px;
    margin-top: 5%;
    background-color: rgb(228, 209, 213)
}
.carou {
    
}
.right {
    margin-top: 6%;
    font-family: 'Calligraffitti', cursive;
    font-size: 5rem;
    padding: 1rem;
}
.xtra {
    font-size: 9rem;
    font-weight: 300;
}
.right .get_the_latest {
  margin-top: 3rem;
  padding-left: 4rem;
}
.collection {
    font-family: 'Calligraffitti', cursive;
    font-size: 2rem;
    font-weight: 800;
}
.image {
    height:38vh;
    width:20vw;
    margin: 2rem;
    cursor: pointer;
}
.clothing {
    margin-top: 7rem;
    font-family: 'Calligraffitti', cursive;
    font-size: 3rem;
    font-weight: 800; 
    display: flex;
    justify-content: center;
}
.explore {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  border: none;
  border-radius:2rem; 
  width: 16rem;
  height: 3rem;
  background-color: rgb(18, 36, 53);
  color: #fffff0;
}